* {
    max-width: 100%;
}
.BotonesYHighscore{
    max-width: 80%;
    size: auto;
    display: block;
    margin-left: auto;
    margin-right: auto

}
.Contenedor{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.botonHolder{
    max-width: 50%;
    min-width: auto;
    display: inline-grid;
    text-align: center;
    grid-template-columns: repeat(3, 10fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(auto, auto);
    margin-left: 5%;
 
}

#uno{
    max-width: 80%;
    position: inherit;
    margin-left: 10%;
    align-content: center;
    display: grid;
    width: 40%;
    text-align: center;
}
#test{
    display: block;
    padding: 3px;
    font-family: sans-serif !important;
    color: white!important;
    background-color: #F2B33D;
    margin: 0.75rem; 
    padding: 0.7rem;
    border-radius: 5px;
    font-size: 1.3rem;
    border: none;
    transition: padding 0.3s;
    width: 20%;
    max-width: 20%;
    margin-left: 40%;
    margin-right: 30%;
    cursor: pointer;
    box-sizing: border-box;
   
}
#test:hover{
        background-color: #BF4904;
        color: white;
        outline: none;
      
}
#Money{
    display: block;
    padding: 3px;
    background-color: #F2B33D;
    margin: 0.75rem; 
    padding: 0.7rem;
    border-radius: 5px;
    color: white;
    font-size: 1.3rem;
    border: none;
    transition: padding 0.3s;
    width: 100%;
    margin-left: 40%;
    margin-right: 30%;
    cursor: pointer;
  

}

#block1,#block2{
    max-width: 100%;
    display: inline-block;
}
#titulo{
    max-width: 100%;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto
    
}