* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  
}

.App-logo {
  animation: spin infinite 20s linear;
  height: 150px;
  border-style: solid;
  border-radius: 50%;
  border-color: black;
  
}
.App-logo:hover{
  opacity: 0.75;
}


.App-header {
  /*background-color: #222;*/
  /* background: #d92b2b; */
  border-bottom: 5px;
  border-bottom-style: solid;
  border-color: black;
  background: rgb(89,34,3);
  background: linear-gradient(180deg, rgba(89,34,3,1) 0%, rgba(217,43,43,1) 100%); 
  /* background: rgb(242,179,61);
  background: linear-gradient(180deg, rgba(242,179,61,1) 0%, rgba(242,203,5,1) 35%, rgba(234,220,190,1) 100%);   */
  padding: 20px;
  color: white;
  text-align: center;

}

.App-intro {
  font-size: large;
  font-family: sans-serif;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.button {
  display: block;
  padding: 3px;
  background-color: #F2B33D;
  margin: 0.75rem; 
  padding: 0.7rem;
  border-radius: 5px;
  color: white;
  font-size: 1.3rem;
  border: none;
  transition: padding 0.3s;
  width: 20%;
  margin-left: 40%;
  margin-right: 30%;
}


button:focus,
button:hover {
  background-color: #BF4904;
  color: white;
  outline: none;
}

h1 {
  color:white;
  -webkit-text-stroke: 1.5px #F2B33D;
  font-size: 2rem;
  font-family: 'Ubuntu', sans-serif;  
  display:block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-align: center;
  
}

h2{
  font-family: 'Ubuntu', sans-serif;  
  
}

.titleWithEffect:hover{
  color:#BF4904;
  -webkit-text-stroke:0px;
}

body {
  background-color: #f28444;
  /* eadcbe */

}

.carpi{
  float:right;
  width:20%;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.carpi:hover{
  animation: shake 0.5s;
  animation-iteration-count: infinite; 
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  25% { transform: translate(-1px, -2px) rotate(-1deg); }
  50% { transform: translate(-3px, 0px) rotate(1deg); }
  75% { transform: translate(1px, -2px) rotate(-1deg); }

}
input {
  color: #333;
  font-size: 1.2rem;
	margin: 0 auto;
  padding: 8px 12px;
  border-radius: 0.2rem;
  background-color: rgb(240, 235, 253);
  border: none;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  height: 50%;
  width: 50%;
  border-radius: 10px ;
  border-color:#F2B33D;
  
}

.containerQuiz{

  background: rgb(89,34,3);
  background: linear-gradient(180deg, rgba(89,34,3,1) 0%, rgba(217,43,43,1) 100%); 
}